<div>
    <section id="hero" style="overflow:auto;" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up" style="color:white;">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                <div class="col-xl-12 col-lg-12">

                    <h2> </h2>
                </div>




                <div class="row">
                    <div class="col-xl-2 col-lg-2"></div>
                    <div class="col-xl-7 col-lg-7">


                        <h2> Butterfly Pose </h2>
                        <img usemap="#image-map" src="assets/img/yoga/p1.png" style="width:80%"> <br>

                        <br>

                        <h2> Cow Pose </h2>
                        <img usemap="#image-map" src="assets/img/yoga/p2.png" style="width:80%"> <br>

                        <h2> Cat Pose </h2>
                        <img usemap="#image-map" src="assets/img/yoga/p3.png" style="width:80%"> <br>

                        <h2> Dog Pose </h2>
                        <img usemap="#image-map" src="assets/img/yoga/p4.png" style="width:80%"> <br>

                        <h2> Snake Pose </h2>
                        <img usemap="#image-map" src="assets/img/yoga/p5.png" style="width:80%"> <br>

                        <h2> Eagle Pose </h2>
                        <img usemap="#image-map" src="assets/img/yoga/p6.png" style="width:80%"> <br>

                        <h2> Cobra Pose </h2>
                        <img usemap="#image-map" src="assets/img/yoga/p7.png" style="width:80%"> <br>

                        <h2> Boat Pose </h2>
                        <img usemap="#image-map" src="assets/img/yoga/p8.png" style="width:80%"> <br>
                        <h2> Bicylce Pose </h2>
                        <img usemap="#image-map" src="assets/img/yoga/p9.png" style="width:80%"> <br>
                        <h2> Crocodile Pose </h2>
                        <img usemap="#image-map" src="assets/img/yoga/p10.png" style="width:80%"> <br>


                        <h2> Sleeping Pose </h2>
                        <img usemap="#image-map" src="assets/img/yoga/p12.png" style="width:80%"> <br>



                        <br>



                        <div class="row">

                            <div class="col-xl-12 col-lg-12">


                                <div style="text-align:left;padding:25px;font-size:24px;" id="demo"></div>

                            </div>
                        </div>



                        <br><br>
                    </div>


                </div>



            </div>
        </div>
    </section>
</div>