<div class="container">
  <div class="background-image-container">

    <section id="hero" style="   height: 100% !important;" class="d-flex align-items-center justify-content-center">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
          <div class="col-xl-12 col-lg-12">
            <h3>Everything is Prewritten, nothing can be rewritten.<span></span></h3>



          </div>
        </div>

        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">

          <div class="col-xl-2 col-md-3">
            <a href="Favoritenumber.html">
              <div class="icon-box">
                <i class="ri-menu-add-fill"></i>
                <h3>Find Your Luck</h3>
              </div>
            </a>
          </div>


          <div class="col-xl-2 col-md-3">
            <a href="/meditation">
              <div class="icon-box">
                <i class="ri-mastercard-line"></i>
                <h3>Meditation</h3>
              </div>
            </a>
          </div>


          <div class="col-xl-2 col-md-3 d-none d-md-block ">
            <a href="Yoga.html">
              <div class="icon-box">
                <i class="ri-leaf-fill"></i>
                <h3>Yoga</h3>
              </div>
            </a>
          </div>


        </div>




      </div>
    </section>
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6">

              <h3>Astro Udhayam<span></span></h3>
              <p>
                <strong>Phone:</strong> +91 6383066248<br>
                <strong>Email:</strong> info@astroudhayam.com<br>
              </p>


            </div>

            <!--<div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                
            <li><i class="bx bx-chevron-right"></i> <a href="Privacypolicy.html" target="blank">Privacy policy</a></li>
            </ul>
          </div>-->



          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">

          &copy; 2024 Copyright <strong><span>Glumes IT Solution</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://glumesit.com/">Glumes IT Solution</a>

          <!--  <a href="Privacypolicy.html" target="blank"><b> &nbsp; &nbsp; Privacy Policy &nbsp;&nbsp; </b></a>-->

        </div>
      </div>
    </footer>

  </div>


</div>