<div class="container">
  <div class="background-image-container">

    <section id="hero" style="   height: 100% !important;" class="d-flex align-items-center justify-content-center">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
          <div class="col-xl-12 col-lg-12">
            <h3>Everything is Prewritten, nothing can be rewritten.<span></span></h3>



          </div>
        </div>

        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">

          <div class="col-xl-2 col-md-3">
            <a href="Favoritenumber.html">
              <div class="icon-box">
                <i class="ri-menu-add-fill"></i>
                <h3>Find Your Luck</h3>
              </div>
            </a>
          </div>


          <div class="col-xl-2 col-md-3">
            <a href="Meditation.html">
              <div class="icon-box">
                <i class="ri-mastercard-line"></i>
                <h3>Meditation</h3>
              </div>
            </a>
          </div>


          <div class="col-xl-2 col-md-3 d-none d-md-block ">
            <a href="Yoga.html">
              <div class="icon-box">
                <i class="ri-leaf-fill"></i>
                <h3>Yoga</h3>
              </div>
            </a>
          </div>


        </div>




      </div>
    </section>

  </div>


</div>